@import url("tailwindcss/base");
@import url("tailwindcss/components");
@import url("tailwindcss/utilities");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");


/* Estilos globales */
body,
html,
div {
  font-family: Poppins, sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-dark {
  background-color: #111518;
}

.text-white {
  color: #fff;
}

.text-gray {
  color: #9cacba;
}

.text-4xl {
  font-size: 2.25rem;
}

.font-black {
  font-weight: 900;
}

.leading-tight {
  line-height: 1.25;
}

.tracking-tight {
  letter-spacing: -0.033em;
}

.text-base {
  font-size: 1rem;
}

.font-normal {
  font-weight: 400;
}

.leading-normal {
  line-height: 1.5;
}

.border-b {
  border-bottom-width: 1px;
}

.border-gray {
  border-color: #3b4954;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.rounded-xl {
  border-radius: 0.75rem;
}

.w-full {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-sm {
  font-size: 0.875rem;
}

.font-medium {
  font-weight: 500;
}

.leading-normal {
  line-height: 1.5;
}

.border-t {
  border-top-width: 1px;
}

.h-72 {
  height: 72px;
}

.min-w-84 {
  min-width: 84px;
}

.max-w-480 {
  max-width: 480px;
}

.cursor-pointer {
  cursor: pointer;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.overflow-hidden {
  overflow: hidden;
}

.h-8 {
  height: 2rem;
}

.bg-dark-gray {
  background-color: #283139;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.chart-container {
  min-height: 200px; /* Asegura que todos tengan la misma altura */
  display: flex;
  align-items: center; /* Centra el contenido verticalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  background-color: #1f2937; /* Fondo oscuro para los gráficos */
  border-radius: 8px; /* Esquinas redondeadas */
}

.modal-enter {
  animation: fadeIn 0.3s forwards;
}

.modal-leave {
  animation: fadeOut 0.3s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.menu-enter {
  animation: slideDown 0.3s forwards;
}

.menu-leave {
  animation: slideUp 0.3s forwards;
}

/* Responsive styles */
@media (width <= 1024px) {
  .text-4xl {
    font-size: 1.5rem;
  }

  .container {
    padding: 0 10px;
  }

  .table-container {
    overflow-x: auto;
  }

  .table-container table {
    width: 100%;
  }
}
