.table-container {
  margin: 50px auto;
  width: 80%;
  background-color: rgb(255 255 255 / 13%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgb(255 255 255 / 10%);
  box-shadow: 0 0 40px rgb(8 7 16 / 60%);
  padding: 20px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: left;
}

.table-container th {
  background-color: rgb(255 255 255 / 20%);
}

.table-container td {
  background-color: rgb(255 255 255 / 10%);
}

.table-container a {
  color: #23a2f6;
  text-decoration: none;
}

.table-container a:hover {
  text-decoration: underline;
}
