<div>
  {{#if this.isLoading}}
    <p>Cargando datos...</p>
  {{else if this.error}}
    <p>Error: {{this.error}}</p>
  {{/if}}
  <canvas id="impacto-economico-chart" width="400" height="200"></canvas>
</div>