<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
  {{!-- Tarjeta Total de Créditos --}}
  <div class="bg-[#111518] p-6 rounded-lg shadow-lg transition-transform hover:scale-105 relative mt-8 text-center">
    <div class="absolute inset-0 -m-1 rounded-lg z-[-1]"></div>
    <h4 class="text-lg font-medium text-gray-300">Total de Créditos</h4>
    <p class="text-white text-5xl font-extrabold mt-4">
      {{this.totalCreditos}}
    </p>
    <p class="text-sm text-gray-400 mt-2">Número total de créditos otorgados</p>
  </div>

  {{!-- Tarjeta Monto Promedio Otorgado --}}
  <div class="bg-[#111518] p-6 rounded-lg shadow-lg transition-transform hover:scale-105 relative mt-8 text-center">
    <div class="absolute inset-0 -m-1 rounded-lg z-[-1]"></div>
    <h4 class="text-lg font-medium text-gray-300">Monto Promedio Otorgado</h4>
    <p class="text-white text-4xl font-extrabold mt-4">
      $ {{this.montoPromedioOtorgado}}
    </p>
    <p class="text-sm text-gray-400 mt-2">Promedio de los montos otorgados</p>
  </div>

  {{!-- Tarjeta Porcentaje de Créditos en Demora --}}
  <div class="bg-[#111518] p-6 rounded-lg shadow-lg transition-transform hover:scale-105 relative mt-8 text-center">
    <div class="absolute inset-0 -m-1 rounded-lg z-[-1]"></div>
    <h4 class="text-lg font-medium text-gray-300">Créditos en Demora</h4>
    <p class="text-white text-5xl font-extrabold mt-4">
      {{this.porcentajeCreditosEnDemora}}%
    </p>
    <p class="text-sm text-gray-400 mt-2">Porcentaje de créditos atrasados</p>
  </div>
</div>
