<div class="relative flex size-full min-h-screen flex-col bg-dark overflow-x-hidden">
  <div class="container flex h-full grow flex-col">
    {{navbar}}
    <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
      <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
        <div class="flex flex-wrap justify-between gap-3 p-4">
          <div class="flex min-w-72 flex-col gap-3">
            <p class="text-white text-4xl font-black leading-tight tracking-tight">Lista de clientes</p>
            <p class="text-gray text-base font-normal leading-normal">Visualiza la información de tus clientes y sus cuentas.</p>
          </div>
        </div>
        <div class="pb-3">
            <div class="flex border-b border-gray pl-4 gap-8 justify-between items-center">
              <div class="flex gap-8">
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-white text-white pb-[13px] pt-4" href="#">
                  <p class="text-white text-sm font-bold leading-normal tracking-[0.015em]">Todos</p>
                </a>
              </div>
              <!-- Botón alineado a la derecha -->
              <div class="flex justify-end w-full">
                <button type="button" class="text-white bg-gradient-to-br from-pink-500 to-orange-400 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mb-2">
                  Agregar cliente
                </button>
              </div>
            </div>
          </div>
        <div class="flex flex-col">
          <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
              <div class="overflow-hidden shadow-md sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-700 w-full">
                  <thead class="bg-[#1b2227]">
                    <tr>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">ID</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Nombre</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Límite</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Saldo actual</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"></th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-white uppercase tracking-wider"></th>
                    </tr>
                  </thead>
                  <tbody class="bg-[#111518] divide-y divide-gray-700">
                    <tr>
                      <td class="px-4 py-2 text-sm text-gray">0001</td>
                      <td class="px-4 py-2 text-sm text-gray">Carolina Huicochea</td>
                      <td class="px-4 py-2 text-sm text-gray">$2,000</td>
                      <td class="px-4 py-2 text-sm text-gray">$800</td>
                      <td class="px-4 py-2 text-sm">
                        <button class="flex items-center justify-center w-full h-8 px-4 text-sm font-medium text-white bg-dark-gray rounded-xl">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                          </svg>
                        </button>
                      </td>
                      <td class="px-4 py-2 text-sm">
                        <button class="flex items-center justify-center w-full h-8 px-4 text-sm font-medium text-white bg-dark-gray rounded-xl">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                          </svg>
                        </button>
                      </td>
                    </tr>
                    <!-- Repite las filas según sea necesario -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>