<html>
  <body>
    <div class="relative flex size-full min-h-screen flex-col bg-[#111518] dark group/design-root overflow-x-hidden" style='font-family: "Public Sans", "Noto Sans", sans-serif;'>
      <div class="layout-container flex h-full grow flex-col">
        {{navbar}}
        <div class="px-40 flex flex-1 justify-center py-5">
          <div class="layout-content-container flex flex-col max-w-[960px] flex-1">
            <div class="flex flex-wrap justify-between gap-3 p-4">
              <div class="flex min-w-72 flex-col gap-3">
                <p class="text-white text-4xl font-black leading-tight tracking-[-0.033em]">Lista de clientes</p>
                <p class="text-[#9cacba] text-base font-normal leading-normal">Visualiza la información de tus clientes y sus cuentas.</p>
              </div>
            </div>
            <div class="pb-3">
              <div class="flex border-b border-[#3b4954] px-4 gap-8">
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-white text-white pb-[13px] pt-4" href="#">
                  <p class="text-white text-sm font-bold leading-normal tracking-[0.015em]">All</p>
                </a>
                <a class="flex flex-col items-center justify-center border-b-[3px] border-b-transparent text-[#9cacba] pb-[13px] pt-4" href="#">
                  <p class="text-[#9cacba] text-sm font-bold leading-normal tracking-[0.015em]">Past due</p>
                </a>
              </div>
            </div>
            <div class="px-4 py-3 @container">
              <div class="flex overflow-hidden rounded-xl border border-[#3b4954] bg-[#111518]">
                <table class="flex-1">
                  <thead>
                    <tr class="bg-[#1b2227]">
                      <th class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-120 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">ID</th>
                      <th class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-240 px-4 py-3 text-left text-white w-60 text-sm font-medium leading-normal">Nombre</th>
                      <th class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-360 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Límite</th>
                      <th class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-480 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">
                        Saldo actual
                      </th>
                      <th class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-600 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">Editar</th>
                      <th class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-720 px-4 py-3 text-left text-white w-[400px] text-sm font-medium leading-normal">
                        Eliminar
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="border-t border-t-[#3b4954]">
                      <td class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-120 h-[72px] px-4 py-2 w-[400px] text-[#9cacba] text-sm font-normal leading-normal">
                        0001
                      </td>
                      <td class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-360 h-[72px] px-4 py-2 w-[400px] text-[#9cacba] text-sm font-normal leading-normal">Carolina Huicochea</td>
                      <td class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-480 h-[72px] px-4 py-2 w-[400px] text-[#9cacba] text-sm font-normal leading-normal">
                        $2,000
                      </td>
                      <td class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-600 h-[72px] px-4 py-2 w-[400px] text-[#9cacba] text-sm font-normal leading-normal">
                        $800
                      </td>
                      <td class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-240 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 bg-[#283139] text-white text-sm font-medium leading-normal w-full" type="button"
                        >
                          <span class="truncate">Current</span>
                        </button>
                      </td>
                      <td class="table-f5ae3648-5184-4350-abfd-902d920ca320-column-240 h-[72px] px-4 py-2 w-60 text-sm font-normal leading-normal">
                        <button
                          class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-xl h-8 px-4 bg-[#283139] text-white text-sm font-medium leading-normal w-full" type="button"
                        >
                          <span class="truncate">Current</span>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <style>
                          @container(max-width:120px){.table-f5ae3648-5184-4350-abfd-902d920ca320-column-120{display: none;}}
                @container(max-width:240px){.table-f5ae3648-5184-4350-abfd-902d920ca320-column-240{display: none;}}
                @container(max-width:360px){.table-f5ae3648-5184-4350-abfd-902d920ca320-column-360{display: none;}}
                @container(max-width:480px){.table-f5ae3648-5184-4350-abfd-902d920ca320-column-480{display: none;}}
                @container(max-width:600px){.table-f5ae3648-5184-4350-abfd-902d920ca320-column-600{display: none;}}
                @container(max-width:720px){.table-f5ae3648-5184-4350-abfd-902d920ca320-column-720{display: none;}}
              </style>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
